/* HEADER */

/* HEADER */

.home__header {
    background-color: var(--colorAmarillo);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.home__header__logo {
    width: 48%;
}

.home__header__buscador {
    width: 48%;
    position: relative;
    display: flex;
    align-items: center;
}

.home__header__buscador input{
    width: 100%;
    border: 1px solid var(--colorGrisClaro);
    border-radius: 3px;
    padding: 8px;
}

.home__header__buscador button{
   position: absolute;
   right: 0;
   border: none;
   border-left: 1px solid var(--colorGrisClaro);
   background-color: #FFF;
   color: var(--colorGrisOscuro);
   font-size: 18px;
   padding: 0 8px;
}

.home__header__burger {
    text-align: center;
    margin: 0 auto;
    background-color: var(--colorCeleste);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
}


.home__header__menu {
    display: none;
    width: 100%;
}

.show {
    display: block;
}


.home__header p {
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.home__header__menu ul {
    margin-bottom: 10px;
}
/* HOME */


.main__banner {
    display: none;
}
.main__banner img {

    width: 100%;
}

.main__section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

}

.main__section--title{
    width: 100%;
    margin: 30px 0;
    color: var(--colorGrisOscuro);
    font-size: 2rem;
}


.main__section__article {
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
    align-self: flex-start;
    border-radius: 5px;
    transition: all 2s;
}

.main__section__article__image {
    padding: 10px;
}

.main__section__article__image img{
    width: 100%;
}

.main__section__article__info {
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    position: relative;

}

.main__section__article__info i {
    border: 1px solid var(--colorVerde);
    display: block;
    font-size: 20px;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top:-18px;
    right: 18px;
    color: var(--colorVerde);
    transition: 1s;

}

.main__section__article__info i:hover{
    transform: rotate(360deg);
}

.main__seccion__article__info--box {
    display: flex;
    gap: 10px;
}

.main__section__article__info--price {
    font-size: 1.5rem;
}

.main__section__article__info--discount {
    color: var(--colorVerde);
}

.main__section__article__info h4 {
    height: 0;
    width: 100%;
    margin:0;
    overflow: hidden;
    color: var(--colorGrisOscuro);
    transition: 1s;

}


.main__section__article:hover h4 {
    height: 50px;
    margin-top: 20px;
}


/* FOOTER */

.footer {
    padding: 20px;
    text-align: center;
    background-color: #fff;

}

.footer__section {
    text-align: center;
    margin: 20px 0;
}

.footer__section i {
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}

.footer__section h4 {
    margin-top: 15px;
}

/* tablets */
@media (min-width:361px) {

    /* HEADER */
    .home__header__burger {
        display: none;
    }

    .home__header__logo {
        width: 30%;
    }
    
    .home__header__buscador {
        width: 30%;
    }

    .home__header p {
        width: 30%;
    }
    
    .home__header__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        font-size: 18px;
    }
    
    .home__header__menu ul{
        display: flex;
        gap: 15px;
    }

    .home__header__menu--nav{
        justify-content: flex-start;
    }
    .home__header__menu--user{
        justify-content: flex-end;
    }
    /* MAIN */

    .main__banner {
        display: block;
    }
    .main__section__article {
        width: 47%;
    }

    .main__section__article:hover {
        box-shadow: 5px 5px 10px rgb(100, 100, 100);
    }

 
    /* FOOTER */
    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .footer section {
        width: 30%;
    }

    .footer small{
    
        width: 100%;

    }
}

/* desktop */
@media (min-width:769px) {

    /* HEADER */
    .home__header {
        padding: 30px;
    }

     /* MAIN */
     .main{
        margin-bottom: 80px;

     }
     .main__section {
        height: 500px;
        padding-bottom: 0;
     }
     .main__section__article {
        width: 23%;
    }
}