<header class="home__header">
    <div class="home__header__logo">
      <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" /></a> 
    </div>
      <form action="" class="home__header__buscador">
        <input type="text" placeholder="Buscar productos, marcas" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    <p>
      <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
      tarjeta de crédito
    </p>
    <button onclick="document.querySelector('.home__header__menu').classList.toggle('show')" class="home__header__burger" ><i class="fa-solid fa-bars"></i></button>
    <nav class="home__header__menu">
      <ul class="home__header__menu--nav">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <ul class="home__header__menu--user">
        <li>
          <a href="/users/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a>
        </li>
        <li>
          <a href="/users/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        <li>
          <a href=""
            >Mis compras <i class="fa-solid fa-basket-shopping"></i
          ></a>
        </li>
      </ul>
    </nav>
    
  </header>