  <div class="modal fade" id="modalDelete<%= id %>" tabindex="-1" aria-labelledby="modalDelete<%= id %>Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p class="fs-4">Advertencia</p>
          <p>¿En serio querés borrar el producto <b><%= name %></b>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form action="/products/remove/<%= id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Borrar</button>
        </form>
        </div>
      </div>
    </div>
  </div>