<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="form">
    <%- include('../partials/header') %>
    <main class="container">
        <section class="row">
          <div class="col-12 col-md-10 col-lg-6 mx-auto my-5">
 <article class="card">
              <div class="card-header text-center">
                <h3>Creá tu cuenta</h3> 
              </div>
                <div class="card-body">
                    <form class="row">
                        <div class="col-12 col-md-6 mb-3">
                          <label for="firstname" class="form-label">Nombre</label>
                          <input name="firstname" type="text" class="form-control" id="firstname" aria-describedby="emailHelp">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="lastname" class="form-label">Apellido</label>
                            <input name="lastname" type="text" class="form-control" id="lastname" aria-describedby="emailHelp">
                          </div>
                          <div class="col-12 col-md-6 mb-3">
                            <label for="username" class="form-label">Nombre de usuario</label>
                            <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp">
                          </div>
                          <div class="col-12 col-md-6 mb-3">
                            <label for="birthday" class="form-label">Fecha de nacimiento</label>
                            <input name="birthday" type="date" class="form-control" id="birthday" aria-describedby="emailHelp">
                          </div>
                          <div class="col-12  mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                          </div>
                          <div class="col-12 col-md-6 mb-3">
                            <label for="pass" class="form-label">Contraseña</label>
                            <input name="pass" type="password" class="form-control" id="pass">
                          </div>
                        <div class="col-12 col-md-6 mb-3">
                          <label for="pass2" class="form-label">Confirmar contraseña</label>
                          <input name="pass2" type="password" class="form-control" id="pass2">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                          <h6>Perfil del usuario</h6>
                          <div class="form-check">
                            <input name="profile" type="radio" class="form-check-input" id="comprador">
                            <label class="form-check-label" for="comprador">Comprador</label>
                          </div>
                          <div class="form-check">
                            <input name="profile" type="radio" class="form-check-input" id="vendedor">
                            <label class="form-check-label" for="vendedor">Vendedor</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                          <h6>Categorías de interés</h6>
                          <div class="form-check">
                            <input name="interests" type="checkbox" class="form-check-input" id="electro">
                            <label class="form-check-label" for="electro">Electro</label>
                          </div>
                          <div class="form-check">
                            <input name="interests" type="checkbox" class="form-check-input" id="moda">
                            <label class="form-check-label" for="moda">Moda</label>
                          </div>
                          <div class="form-check">
                            <input name="interests" type="checkbox" class="form-check-input" id="hogar">
                            <label class="form-check-label" for="hogar">Hogar</label>
                          </div>
                          <div class="form-check">
                            <input name="interests" type="checkbox" class="form-check-input" id="jugueteria">
                            <label class="form-check-label" for="jugueteria">Jugueteria</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                          <label for="image" class="form-label">Foto de perfil</label>
                          <input name="image" type="file" class="form-control" id="image">
                        </div>
                        <div class="col-12 col-md-6 mb-3 d-flex align-items-end">
                          <div class="form-check">
                            <input name="terms" type="checkbox" class="form-check-input" id="terms">
                            <label class="form-check-label" for="terms">Acepto bases y condiciones</label>
                          </div>
                          
                        </div>
                        <div class="col-12 d-flex justify-content-center gap-2">
                          <button type="reset" class="btn btn-secondary">Cancelar</button>
                          <button type="submit" class="btn btn-primary">Registrame</button>
                        </div>
                        
                      </form>
                </div>
            </article>
          </div>
           
       
         
        </section>
    </main>
    <footer class="footer">
      <section class="footer__section">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo
          en putos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="footer__section">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde los $2.500</h4>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos
        </p>
      </section>
      <section class="footer__section">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad de principio a fin</h4>
        <p>
          ¿No te gusta? !Devolvelo! En Mercado LIebre no hay nada que no peudas hacer porque estás siempre protegido.
        </p>
      </section>
      <small>Copyright <i class="fa fa-copyright"></i> 2020-2022 MercadoLiebre S.R.L.</small>

    </footer>

  </body>
</html>
